.el-button--primary{
    background: #f34649;
    border-color: #f34649;
}
.el-button--primary:hover{
    background: #f3686a;
    border-color: #f3686a;
}
.box-container.type1 .box-tit-left::after,
.box-container.type2 .box-tit-left::after{
    background: #f34649!important;
}
.el-tabs__active-bar,
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background: #f34649!important;
}
.el-tabs__item:hover,
.el-tabs__item.is-active{
    color: #f34649!important;
}

// 左侧导航样式 重置

.sidebar-logo-container{
    height: 50px;
    background: #3a3a3a!important;
}
.sidebar-logo-container *{
    display: none!important;
}
#app .sidebar-container{
    background: #fff;
    width: 200px!important;
    border-left: 50px solid #494949;
}
#app .sidebar-container .el-menu-item,
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title span,
#app .sidebar-container .el-submenu .nest-menu .el-menu-item span,
#app .el-menu .el-menu-item .svg-icon + span,
#app .el-menu .el-submenu__title .svg-icon + span{
    color: #333!important;
}
#app .sidebar-container .el-menu-item.is-active > span{
    color: #f34649!important;
}
#app .sidebar-container .el-menu,
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, 
#app .sidebar-container .el-submenu .nest-menu .el-menu-item,
#app .sidebar-container .el-menu .el-submenu__title,
#app .el-menu .el-menu-item, .el-menu .el-submenu__title,
#app .sidebar-container .el-menu-item.is-active{
    background: #fff!important;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .nest-menu .el-menu-item:hover,
#app .sidebar-container .submenu-title-noDropdown:hover,
#app .sidebar-container .el-submenu__title:hover{
    background: #fff!important;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover *,
#app .sidebar-container .el-submenu .nest-menu .el-menu-item:hover *,
#app .sidebar-container .submenu-title-noDropdown:hover *,
#app .sidebar-container .el-submenu__title:hover *{
    color: #f34649!important;
}
#app .sidebar-container .el-submenu.is-active > .el-submenu__title{
    background: #f34649!important;
}
#app .sidebar-container .el-submenu.is-active > .el-submenu__title *{
    color: #fff!important;
}
#app .sidebar-container .el-submenu.is-active > .el-submenu__title > span{
    color: #fff!important;
}

// 右侧主体内容
#app .app-content{
    margin: 20px!important;
    padding: 0px;
    overflow: visible;
}
#app .sidebar-container.hideLayout{
    width: 0px!important;
}
#app .main-container.hideLayout{
    margin-left: 50px!important;
}
#app .main-container .app-main{
    overflow: auto;
    height: calc(100vh - 50px);
}
#app .main-container{
    margin-left: 200px;
}
#app .main-container .main-breadcrumb .navbar {
    background: #3a3a3a!important;
}
#app .main-container .main-breadcrumb .navbar *{
    display: none!important;
}