@import './variables.scss';

.el-table th.is-leaf {
  background: #f7f7f7;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid #ededed;
}
.el-table td {
  font-size: 12px;
  border-bottom: 1px solid #ededed;
}

.el-table .data-table-header-row {
  th.is-leaf {
    background: #ffffff;
  }  
}

.chart-container {
  th {
    background: #f7f7f7 !important;
  }
  th, td {
    padding: 8px 0 !important;
  }
}
