@import './variables.scss';

.el-tabs--top .el-tabs__item.is-top:nth-child(2),
.el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
.el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2){
  // padding: 0 20px;
}

.el-tabs__header{
  margin-bottom: 0px;
}
.el-tabs__content{
  padding: 20px 0px;
}
.el-tabs__item{
  height: 50px;
  line-height: 48px;
}