// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
// $menuText:#bfcbd9;
// $menuActiveText:#409EFF;
// $subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

// $menuBg:#304156;
// $menuHover:#263445;

// $subMenuBg:#1f2d3d;
// $subMenuHover:#001528;

$menuText:#ffffff;
$menuActiveText:#94b0d4;
$subMenuText: #94b0d4;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#364760;
$menuHover:#2a394f;

$subMenuBg:#374760;
$subMenuHover:#2a3950;

$tagsViewBg: #6382a9;

$sideBarWidth: 210px;

// 重要文字：提示性文字，需要特别注意的内容
$hintText: #f35b5c;
// 常规文字：普通信息，标题
$titleText: #333333;
// 次级文字：帮助信息，说明性文字
$contentText: #666666;
// 辅助文字：页面中的一些辅助性的文字
$auxText: #999999;
// 超链文字：常规超链接
$linkText: #0180cd;
// 二级菜单字体颜色
$subMenuText:#96b0d5;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  subMenuText: $subMenuText;
}
