.mainpage{
  margin: 20px;

  .search-container{
    .search-box{

      .search-row{
        .search-itemlabel,.search-itemcontainer{
          float: left;
        }
        .search-itemlabel{
          text-align: right;
          font-weight: bold;
          width: 150px;
        }
        .search-itemcontainer{
          width: calc(100% - 150px);

          .item-box{
            float: left;
            position:relative;
            
            .floatlayer{
              position: absolute;
              left: 20px;
              top: 50px;
              z-index: 9;
            }
          }

          .item-button{
            float: left;
          }
        }
      }
    }
  }
}


  .el-select-dropdown__item.selected{
    color: #606266 !important;
    font-weight: normal;
  }

.clearfix:after {
    content: ""; 
    display: block; 
    clear: both; 
}